name: Build and Test

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        with:
          node-version: '20'
      - run: npm ci
      - run: npm test
      - run: npm run build
