name: Test & Build v2

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node and Dependencies
        uses: ./.github/actions/setup-node-deps

      - name: Run linter
        run: npm run lint

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node and Dependencies
        uses: ./.github/actions/setup-node-deps

      - name: Run unit tests
        run: npm test -- --run

 

  production-build:
    name: Production Build
    runs-on: ubuntu-latest
    needs: [unit-tests]
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node and Dependencies
        uses: ./.github/actions/setup-node-deps

      - name: Build for production
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: production-build
          path: dist/
          retention-days: 7
